src/main/resources/schemas/callback.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://gateway.ixopay.com/Schema/V2/Callback" targetNamespace="http://gateway.ixopay.com/Schema/V2/Callback">
    <!-- ROOT ELEMENT -->
    <xs:element name="callback" type="callbackType">

    </xs:element>

    <!-- ROOT TYPE -->
    <xs:complexType name="callbackType">
        <xs:sequence>
            <xs:element type="resultType" name="result" minOccurs="1" maxOccurs="1" />
            <xs:element type="xs:string" name="referenceId" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="transactionId" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="purchaseId" minOccurs="0" maxOccurs="1" />
            <xs:element type="transactionMethodType" name="transactionType" minOccurs="0" maxOccurs="1" />
            <xs:element type="amountType" name="amount" minOccurs="0" maxOccurs="1" />
            <xs:element type="currencyType" name="currency" minOccurs="0" maxOccurs="1" />
            <xs:element type="errorsType" name="errors" minOccurs="0" maxOccurs="1" />
            <xs:element type="chargebackDataType" name="chargebackData" minOccurs="0" maxOccurs="1" />
            <xs:element type="extraDataType" name="extraData" minOccurs="0" maxOccurs="unbounded" />
            <xs:element type="returnDataType" name="returnData" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <!-- CUSTOM TYPES -->
    <xs:complexType name="extraDataType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="key" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="transactionMethodType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEBIT" />
            <xs:enumeration value="CAPTURE" />
            <xs:enumeration value="DEREGISTER" />
            <xs:enumeration value="PREAUTHORIZE" />
            <xs:enumeration value="REFUND" />
            <xs:enumeration value="REGISTER" />
            <xs:enumeration value="VOID" />
            <xs:enumeration value="CHARGEBACK" />
            <xs:enumeration value="PAYOUT" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="resultType">
            <xs:restriction base="xs:string">
                <xs:enumeration value="OK" />
                <xs:enumeration value="PENDING" />
                <xs:enumeration value="ERROR" />
            </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="currencyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][A-Z][A-Z]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="amountType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2" fixed="true" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="countryType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][A-Z]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="errorsType">
        <xs:sequence>
            <xs:element type="errorType" name="error" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="errorType">
        <xs:sequence>
            <xs:element type="xs:string" name="message" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:positiveInteger" name="code" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="adapterMessage" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="adapterCode" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="chargebackDataType">
        <xs:sequence>
            <xs:element type="xs:string" name="originalReferenceId" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="originalTransactionId" minOccurs="0" maxOccurs="1" />
            <xs:element type="amountType" name="amount" minOccurs="0" maxOccurs="1"/>
            <xs:element type="currencyType" name="currency" minOccurs="0" maxOccurs="1"/>
            <xs:element type="xs:string" name="reason" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:dateTime" name="chargebackDateTime" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="returnDataTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="creditcardData" />
            <xs:enumeration value="phoneData" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="returnDataType">
        <xs:choice>
            <xs:element type="creditcardDataType" name="creditcardData" />
            <xs:element type="phoneDataType" name="phoneData" />
        </xs:choice>
        <xs:attribute name="type" type="returnDataTypeEnum" use="required" />
    </xs:complexType>
    <xs:complexType name="creditcardDataType">
        <xs:sequence>
            <xs:element type="xs:string" name="type" minOccurs="0" maxOccurs="1" />
            <xs:element type="countryType" name="country" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="cardHolder" minOccurs="0" maxOccurs="1" />
            <xs:element name="expiryMonth" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1" />
                        <xs:maxInclusive value="12" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="expiryYear" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:totalDigits value="4" />
                        <xs:fractionDigits value="0" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="firstSixDigits" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="6" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="lastFourDigits" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:length value="4" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="phoneDataType">
        <xs:sequence>
            <xs:element type="xs:string" name="phoneNumber" minOccurs="0" maxOccurs="1" />
            <xs:element type="countryType" name="country" minOccurs="0" maxOccurs="1" />
            <xs:element type="xs:string" name="operator" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>