src/main/resources/schemas/options.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://gateway.ixopay.com/Schema/V2/Options" targetNamespace="http://gateway.ixopay.com/Schema/V2/Options">
    <!-- ROOT ELEMENT -->
    <xs:element name="options" type="optionsType">

    </xs:element>

    <!-- ROOT TYPE -->
    <xs:complexType name="optionsType">
        <xs:choice>
            <xs:sequence>
                <xs:element type="xs:string" name="username" minOccurs="1" maxOccurs="1" />
                <xs:element type="xs:string" name="password" minOccurs="1" maxOccurs="1" />
                <xs:element type="requestType" name="request" minOccurs="1" maxOccurs="1" />
            </xs:sequence>
            <xs:element type="responseType" name="response" minOccurs="1" maxOccurs="1" />
        </xs:choice>
    </xs:complexType>

    <!-- CUSTOM TYPES -->
    <xs:complexType name="requestType">
        <xs:sequence>
            <xs:element type="xs:string" name="identifier" minOccurs="1" maxOccurs="1" />
            <xs:element type="parameterType" name="parameter" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="responseType">
        <xs:sequence>
            <xs:element type="xs:boolean" name="success" minOccurs="1" maxOccurs="1" />
            <xs:element type="parameterType" name="parameter" minOccurs="0" maxOccurs="unbounded" />
            <xs:element type="xs:string" name="error" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="parameterType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

</xs:schema>