src/main/resources/com/ixopay/client/schemas/status.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://gateway.ixopay.com/Schema/V2/Status" targetNamespace="http://gateway.ixopay.com/Schema/V2/Status">
    <!-- ROOT ELEMENT -->
    <xs:element name="status" type="statusType">

    </xs:element>

    <!-- ROOT TYPE -->
    <xs:complexType name="statusType">
        <xs:sequence>
            <xs:element type="xs:string" name="username" minOccurs="1" maxOccurs="1" />
            <xs:element type="xs:string" name="password" minOccurs="1" maxOccurs="1" />
            <xs:choice minOccurs="1" maxOccurs="1">
                <xs:element type="mandatatoryIdType" name="transactionUuid" /> <!-- the referenceId received by the transaction response -->
                <xs:element type="mandatatoryIdType" name="merchantTransactionId" /> <!-- the transactionId sent with the transaction request -->
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="mandatatoryIdType">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
